#home {
  overflow: hidden;
}
.video-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  .visible {
    display: block;
    position: fixed;
    top: 35%;
    left: 40%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: #fff;
  }

  .hidden {
    display: none;
  }

  .intro {
    font-size: 40px;
    font-weight: 400;
    color: #ebe9e9;
    display: block;
    margin-bottom: -20px;
  }

  .btn {
    z-index: 2;
    display: block;
    position: fixed;
    top: 55%;
    left: 40%;
    transform: translate(-50%, -50%);
  }
}

.image-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: rgb(37, 25, 2);
  padding: 13rem 0;
  .about-title {
    color: #ebe9e9;
    margin-left: 5rem;
    font-size: 70px;
    font-weight: 400;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .about-text {
    color: #ebe9e9;
    text-align: justify;
    display: block;
    margin-right: 5rem;
    margin-bottom: 2rem;
    font-weight: 400;
    font-size: large;
  }
}

.community-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: rgb(234, 154, 6);
  padding: 10% 7%;
  .community-title {
    display: block;
    font-size: 45px;
    font-weight: 400;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .community-text {
    display: block;
    font-weight: 400;
    font-size: 20px;
  }
  .community-btn {
    background-color: #000000;
    color: #fff;
    width: 8rem;
    height: 2.5rem;
    font-size: large;
    margin-top: 10px;
    font-weight: 600;
  }
  .community-skate {
    width: 500px;
    border-radius: 3rem;
  }
}

.community-icon-wrapper {
  position: relative;
  width: 100%;
  .community-icon-image {
    width: 100vw;
    height: 60vh;
  }
  .community-icon {
    overflow: hidden;
    padding-top: 3rem;
    padding-left: 5rem;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    .community-icon-title {
      font-size: large;
      font-weight: 500;
      color: #fff;
    }
    .menu {
      font-size: 1rem;
      color: #fff;
    }
    .menu-icon {
      font-size: 2rem;
      color: #fff;
    }
    .divider {
      color: #fff;
      margin-right: 5rem;
    }
  }
}
